<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width , initial_scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>CDB</title>

	<!-- Inconsolata Font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
		rel="stylesheet">
	<!-- Fira Code-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&display=swap"
		rel="stylesheet">

	<!-- Main Stylesheet-->
	<link rel="stylesheet" href="/styles.css">
	<script src="/htmx"></script>
	<script>
		function top_scroll() {
			window.scrollTo(0, 0)
		}
	</script>
</head>

<body>
	<h1>Database</h1>
	<a href="/">Home</a>
	<div id=forms border=1></div>
	<div class="table">
		<h2><button hx-headers='{"table": "families"}' hx-target=".table" hx-swap="outerHTML"
				hx-get="/table">Edit
				Family
				Table</button>
		</h2>
		<h2><button hx-headers='{"table": "children"}' hx-target=".table" hx-swap="outerHTML"
				hx-get="/table">Edit
				Children
				Table</button></h2>
		<h2><button hx-headers='{"table": "first_hour"}' hx-target=".table" hx-swap="outerHTML"
				hx-get="/table">Edit 1st Hour Class
				Table</button></h2>
		<h2><button hx-headers='{"table": "second_hour"}' hx-target=".table" hx-swap="outerHTML"
				hx-get="/table">Edit 2nd Hour Class
				Table</button></h2>
	</div>

</body>

</html>
